{% extends "layout.html" %}

{% block body %}

<div class="container">
    <h3 class="text-center">Fill the Form</h3>
    <h6 class="text-center">To send the device</h6>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input name="name" class="form-control" placeholder="Pallab">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone</label>
                <input name="phone" class="form-control" placeholder="0123456789">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Device Type</label>
                <input name="device" class="form-control" placeholder="Smart Phone">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                <textarea name="address" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Problem</label>
                <textarea name="problem" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
      </div>
</div>

{% endblock %}